:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-b: hsl(217, 54%, 11%);
    --Very-dark-blue-c: hsl(216, 50%, 16%);
    --Very-dark-blue-l: hsl(215, 32%, 27%);
}

* {
    box-sizing: border-box;
    transition: 0.8s;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--Very-dark-blue-b);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
    margin: 0;
}

.container {
    width: 325px;
    background-color: var(--Very-dark-blue-c);
    border-radius: 15px;
    padding: 24px;
    box-shadow: 0px 0 32px 30px #0c1729;
    position: relative;
}

.container>img {
    width: 100%;
    border-radius: 8px;
}

.view {
    opacity: 0;
    position: absolute;
    top: 24px;
    left: 24px;
    border-radius: 8px;
    background-color: hsla(178, 100%, 50%, 0.479);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 277px;
    height: 277px;
}

.view:hover {
    opacity: 1;
}

h1 {
    color: white;
    font-size: 22px;
    margin-top: 20px;
}

h1:hover,
span:hover {
    color: var(--Cyan);
    cursor: pointer;
}

h1+p {
    margin-top: 0;
}

p {
    color: var(--Soft-blue);
    line-height: 1.6;
}

.data {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    font-size: 15px;
}

.data .eth {
    color: var(--Cyan);
    font-weight: 600;
}

.data .time {
    color: var(--Soft-blue);
}

.data img {
    position: relative;
    bottom: -3px;
}

hr {
    margin: 14px 0px;
    color: var(--Very-dark-blue-l);
}

.name {
    display: flex;
    height: 33px;
    align-items: center;
    font-size: 15px;
}

.name img {
    height: 100%;
    border: white 1px solid;
    border-radius: 50%;
    margin-right: 16px;
}

span {
    color: white;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:960px) {
    .container {
        transform: scale(0.72);
    }
}